<h1><%= @trip.id ? 'Edit Trip' : 'Create Trip' %></h1>
<%= form_with(model: @trip, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Name Of Trip" %>
</div>
<div class="field">
    <%= f.label :image %>
    <%= f.text_field :image, required: true, placeholder: "Enter Image URL" %>
</div>

    <%= f.text_field :name, required: true, placeholder: "Name Of Trip", class: "input" %>
  </div>
<%= f.submit nil, class: "ui button green" %>
<br />
<%= link_to 'Back', trips_path, class: "ui button space gray" %>
<% end %>
