<h1><%= @location.id ? 'Edit Address' : 'Create Address' %></h1>
<%= form_with [@address] do |f| %>
  <%= f.label :name %>
  <%= f.text_area :name, placeholder: "Name Of Address", class: "input" %>
  <br />
  <%= f.label :street %>
  <%= f.text_area :street, placeholder: "Street Name", class: "input" %>
  <br />
  <%= f.label :city %>
  <%= f.text_area :city, placeholder: "City Name", class: "input" %>
  <br />
  <%= f.label :state %>
  <%= f.text_area :state, placeholder: "State Name", class: "input" %>
  <br />
  <%= f.label :zip %>
  <%= f.text_field :zip, placeholder: 'Zippity' %>
  <br />
  <%= f.submit nil, class: "ui button green" %>
  <%end%>



  