<% if @trip.locations.length == 0 %>
  <h1>You have no locations planned.</h1>
  <%= link_to "Add Your First Location", new_trip_location_path(@trip), class: "ui button green inverted"%>
  <%= link_to "Back To Trips", trips_path, class: "ui button secondary inverted"%>
<% else %>
<h1>Showing Locations for <%= @trip.name %> </h1>
  <%= link_to "Add Another Location", new_trip_location_path(@trip), class: "ui button green inverted"%>
  <%= link_to "Back To Trips", trips_path, class: "ui button secondary inverted"%>
<hr />

<div class="ui cards">
<% @trip.locations.each do |location|%>
  <div class="teal card">
    <div class="content">
      <div class="header">
        <%= location.name.upcase %>
      </div>
      <div class="meta">
        Spending <%= location.days %> days here.
      </div>
      <div class="description">
        <%= location.address.street %>
        <%= location.address.city %>

      </div>
    </div>
    <div class="content">
      <%= link_to "View Address", location_addresses_path(location), class: "ui mini button green inverted"%>
      <%= link_to "Edit Location", edit_trip_location_path(@trip, location), class: "ui mini button secondary inverted"%><br />
      <%= link_to "Remove Location", trip_location_path(@trip, location),method: :delete, class: "ui mini button red inverted"%>
    </div>
  </div>
<% end %>
</div>

<% end %>
